.tab{
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  border: none;
  background-color: #abe9fe;
  position: relative; 
  
}

.tab button{
  color: #000000;
  background-color: #abe9fe ;
  font-family: "Libre Franklin", sans-serif;
  outline: none;
  cursor: pointer;
  padding: 11px 14px;
  transition: 0.5s;
  border: none;
  font-size: 2vw;
  padding-bottom: 1vh;
  padding-top: 1vh;
  width: 25%;
  
}
  
.tab button:hover {
  color: white;
  background-color: #e005a4;
}
  
.tabcontent {
   display: none;
   border: none;  
   animation: fadeEffect 1s;
}
  
@keyframes fadeEffect{
  from {opacity:0;}
  to {opacity: 1;}
}
  
#About-Me{
  background-image: url("https://lh3.googleusercontent.com/fnH0NHaQDyQPWMycjlJHlvLop5hsFbTYBfRRugVZUXChTkmvZQ4TLivXo8oEIbVTnQla1HiBGN_lHwSqaYeI3UTbSD-FHAxJ4sOyAIOJf5kW3cH7ZFuh0L8UGl0gvppggrUyXQA9iOlQuQ6f0djTu4urZiRdc6mZIGMh8f1JNBVowNLBl0kqhTY9eQ0zS2Fuj41Y3IBPV0hhqymF6fyGxhFAjspRxq-Tdpww3N2ESwLwu5ZVDESGgA5GnibBLfenS10_o7MFwWgtv3mFCzud2_Av9XRhpLXYz3MQxKHdpwmIpmco2KmGqWU5yYTHN9gjlCUO0aC-tFTnd_Pqa-2wIr610JkdXmt9oZENJHIAcR5kAJ6EYi7yNEf9FGoNviH24_ay5qwJBqBy-hTohUKoPs2F3IcY6DEAwPswob5IZvcH0D0eooNe2kgYn6F-kszVYXeRcnOwLvthQkgoi-YPaamtoOTqnjza7eEXzV_fcUaTT5Mnp14cqkb98zKnbsBn9Eu8xB8lsenZ4XxBFBALwg-13j13sQ3v9M959A05KqPtjHkiSEmZqcsgyzeWoyKtzNyU4iF9bZdi7uRZVgk93vlU8PNf9qCEogzOlLkItNOiKvtx4LNMJZTUaSvjsGFLMclkvfhskDzIcnGhr-SiATWgNT-n_AHWWBYoOJYUOd4fiOXI4jtiDn_RERE=w1583-h890-no?authuser=0");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 35vw;
}

body {
  background-color: #abe9fe;
  margin: 0;  
  position: relative;
  padding-bottom: 0;
  text-align: center;
  min-height: 100%;
}
   
h1 {color: #000000;
 font-family: "Libre Franklin", sans-serif;
 text-align: center;
 font-size: 4vmax;
}

h2 {color: #000000;
 font-family: "Libre Franklin", sans-serif;
 text-align: center;
 font-size: 3vmax;
}
  
p {color: #000000;
 font-family: "Libre Franklin", sans-serif;
 font-size: 3vmin;
 text-align: center;
}

main {
  text-align: center;
  justify-content: center;
}

#diag-box-one {
  background-image: linear-gradient(45deg,#e005a4, #8c0367);
  transform:skewY(10deg);
  text-align: center;
}

#diag-box-two {
  background-image: linear-gradient(45deg,#fe8372, #fe4c34);
  transform:skewY(-4deg);
  text-align: center;
}

#diag-box-three {
  background-image: linear-gradient(45deg,#e005a4, #e005a4);
  transform:skewY(-10deg);
  
}
 
#dbo-content {
  transform: skewY(4deg);
  display: inline-block;
}

#dbo-content-two {
  transform: skewY(4deg);
  display: inline-block
}

#dbo-content-three {
  transform: skewY(4deg);
  display: inline-block;
}


.hero-img {
  background-image: url("https://lh3.googleusercontent.com/lCeskLPiE1R-2SOdroVH1EywfxpHSJo9zApfv6ykSXOt7sQT3g97VrJkX49tkJkGVGAj7yznEMpjLg8Yu8o8I45B69IkXiT6ObZHjfY3VUZssKLhb1whrAm7acz3nFOtzRFyTYfQ47nGY_6LbvnwpxEfnPeAnVqy0wF5aSO9VLRV3nd5yekIkcLLFXaHt9g_CSVCXRZQAYkxs9aRQE_b77owIBaKX8W40mv3kP8Sq5DF_6eGLssPquBeKUqAUcxVKrfEs70MLn5q3fG84CIxUxJezFHiI-VBOYrfHT3Ls1aTNPTRAUmv5V6xX-wGw7igXHnhygs-d4AEc00KUMA031R1CGeCkVXNXB-rvo4bcsm-gDg3zTCIdLDOQLdKSoJRiKeu7mEtKsv3szMbArhDH4GQVo7-iJw-9HQtCqh5lNhhntUYL0nsMo_DNYrr9swSeoH8xlrDcoGYe1tXPt_iWlnwscROpkaku9IrOQpOaZCSyg7o6EB4T1EMfLvYmEM5Uod83Ch0tiQebYZSCJSn_r6K3U4I62v9rzeYLsfvl1DcRrEc-GplRq-UWgGG7sW_1XaM65qESXGR2bzRWvo9nv4MaKpqRteeJmGHlPeOjzqf4dIxi3_A6ND1Gv7Wlk22Vwj8mgfkmTJND0Ajox07o6lxt13tq5zM66eiRGG77unZjVQNGkOw4xEDbJo=w1920-h900-no?authuser=0");
  height: 100vh;
  max-width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

/* .hero-img2 {
  background-image: url("https://lh3.googleusercontent.com/fnH0NHaQDyQPWMycjlJHlvLop5hsFbTYBfRRugVZUXChTkmvZQ4TLivXo8oEIbVTnQla1HiBGN_lHwSqaYeI3UTbSD-FHAxJ4sOyAIOJf5kW3cH7ZFuh0L8UGl0gvppggrUyXQA9iOlQuQ6f0djTu4urZiRdc6mZIGMh8f1JNBVowNLBl0kqhTY9eQ0zS2Fuj41Y3IBPV0hhqymF6fyGxhFAjspRxq-Tdpww3N2ESwLwu5ZVDESGgA5GnibBLfenS10_o7MFwWgtv3mFCzud2_Av9XRhpLXYz3MQxKHdpwmIpmco2KmGqWU5yYTHN9gjlCUO0aC-tFTnd_Pqa-2wIr610JkdXmt9oZENJHIAcR5kAJ6EYi7yNEf9FGoNviH24_ay5qwJBqBy-hTohUKoPs2F3IcY6DEAwPswob5IZvcH0D0eooNe2kgYn6F-kszVYXeRcnOwLvthQkgoi-YPaamtoOTqnjza7eEXzV_fcUaTT5Mnp14cqkb98zKnbsBn9Eu8xB8lsenZ4XxBFBALwg-13j13sQ3v9M959A05KqPtjHkiSEmZqcsgyzeWoyKtzNyU4iF9bZdi7uRZVgk93vlU8PNf9qCEogzOlLkItNOiKvtx4LNMJZTUaSvjsGFLMclkvfhskDzIcnGhr-SiATWgNT-n_AHWWBYoOJYUOd4fiOXI4jtiDn_RERE=w1583-h890-no?authuser=0");
  height: 80vh;
  max-width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  z-index: 10;
  overflow: visible;
} */

.hero-text {
  font-size: 4vw;
  text-align: center;
  /*margin: 0 2vw 0 2vw;
  border: 10px solid  black;*/
}

.flexbox-row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-image: url("https://lh3.googleusercontent.com/uV4idzUAy3xcSQVy45Sx8schzR7k9XBeUmUGa03-BVkmTcqp3MkKibrN3jd_zQ_LuxNANU0HCqlKkWA2NMu3ewJPfk1_3XvLwIu_bDQWLmMQFI1uejd_8LzGiKIJwNBmpezixuUDNGzoMlmFPj9WfLU7iXsT6Jww4PJO7K3qBgLxzUh8EHS5ByzJ2Ziq2coZBurq5NvszMDuncmglyl3SP6jhUKhc96tsFOARODJWNB0-soHDo4KUchSXJpzR-DY-6U3d0Mkv2TXLmt5lWGJNa28e7WofbgNG7KgMz3iiCuK0k3a5O0T7STTkm96-8LHM_5X8JWOurPCl4zf8bhZpb0BzmoTjTELyvyRcPVBhkmZLnqqqKemc8i_ygTVlhqVZcs8xms1IgHkGnwndgdH6irvSBucapOLFU0NF9s31SrPRiIui7Vz0z1gRlGcgqwPeZUK0hVysLVT7mqfJWBsCJ8qsZTCXatnkpmSE15KzGYU_Q6GAcwAk1guvu8F9F8eHhZsIwd4Cvk88S4E3Iz-GcEPKvicB6jEx2yIJp0JdZanwl5wcpyj4k6Yh7IS9HtuKZhDI51q9oUVoNHWAs3rIIhLAbqX1ZexnHA_Oir1TkJhSCaGQ-xAL0CGucdTTymkYefqrGfg_TYx0FxTGWcmF_KlWueuXXVtCfY3_KLBWSa9XeK1oNayL99OOW4=w1684-h947-no?authuser=0");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-attachment: fixed;
}

.wrapper{
  display: grid;
  grid-template-columns:repeat(16, 1fr);
  grid-template-rows: repeat(9, 6.25vw);
  gap: 0vw;
  padding: 0vw 2vw 0 0;
  background-image: url("https://lh3.googleusercontent.com/uV4idzUAy3xcSQVy45Sx8schzR7k9XBeUmUGa03-BVkmTcqp3MkKibrN3jd_zQ_LuxNANU0HCqlKkWA2NMu3ewJPfk1_3XvLwIu_bDQWLmMQFI1uejd_8LzGiKIJwNBmpezixuUDNGzoMlmFPj9WfLU7iXsT6Jww4PJO7K3qBgLxzUh8EHS5ByzJ2Ziq2coZBurq5NvszMDuncmglyl3SP6jhUKhc96tsFOARODJWNB0-soHDo4KUchSXJpzR-DY-6U3d0Mkv2TXLmt5lWGJNa28e7WofbgNG7KgMz3iiCuK0k3a5O0T7STTkm96-8LHM_5X8JWOurPCl4zf8bhZpb0BzmoTjTELyvyRcPVBhkmZLnqqqKemc8i_ygTVlhqVZcs8xms1IgHkGnwndgdH6irvSBucapOLFU0NF9s31SrPRiIui7Vz0z1gRlGcgqwPeZUK0hVysLVT7mqfJWBsCJ8qsZTCXatnkpmSE15KzGYU_Q6GAcwAk1guvu8F9F8eHhZsIwd4Cvk88S4E3Iz-GcEPKvicB6jEx2yIJp0JdZanwl5wcpyj4k6Yh7IS9HtuKZhDI51q9oUVoNHWAs3rIIhLAbqX1ZexnHA_Oir1TkJhSCaGQ-xAL0CGucdTTymkYefqrGfg_TYx0FxTGWcmF_KlWueuXXVtCfY3_KLBWSa9XeK1oNayL99OOW4=w1684-h947-no?authuser=0");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-attachment: fixed;

}

.wrapper p{
  color: black;
}

.wrapper div{
  z-index: 3;
  background-position: center;
  background-image: url("https://lh3.googleusercontent.com/BYmkmD_ifbWTZhUz_uj59ix1MuFqhYHyH_2L1EymTQaF6rHtxnLQwIQ7z91KZiV9Wey3xSTn0kvCfEtHL_2Zln-4ERzkR1lc9ko18ugqe4SrSNwu71iVon1sKO-WAjFOW9WeG2Tx9glN25BATJMEC-czyebhpy9qal1IyhDO4fK_t9Txb-FGpoOsyf8BXZ9JLx8zIHzYjqtq4Trn546TK5-z9x5MBHxAHRtZGzUOxtIWLiJAwlBLVGOyoJzezv4O_J_XzEDqOQ_Cdk3mzGUAHXU5B-ugc-rGBeydnlz0zKA5Feta9BjaCWQuXnfLksVA8w211b7NZfvSXxr_2KldvAvwtFTxMOYw-JNbYeHWuQLIC86IgzFB0fDxcnFIWmE9JGwL8VGDNeV4ciAnw_RSduyWf2nwHvUT2wcDryycIbe91I-2ACugJ0_-D4cRd2PhcZ59N85Lf6rRcnAjUpwDJRvjzgy07Gr1BvMG2PaUO868Jh4SNP47zZ62WOUoL5L6qByO3JR-4ZJODoF-tmhgMt_yVEEGpIYsvNfEQMrMWS7_qI9kYHSr2_U5GH6cVqYCHDnz3jEzKDNUcyPiMPdsCL1eZ30TpKgkWdW_2Nmls2siAkm-HzvK-TEpTakf7KzK_uZzmOD4mi7JAtkEf9-Pv4kz_9eZjndbD3k7SbNpf7_J1G8A9qWWwHE9IcQ=s916-no?authuser=0");
  background-repeat: no-repeat;
  background-size: 100%;
} 

/* .wrapper div::before{
  content:"";
  padding-bottom: 100%;
  display: block;
  position: absolute;
  translate: (0, 0);
} */

.text-one-home{
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
  /* background-color: #F35F04; */
}

.text-two-home{
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 6;
}

.text-three-home{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 7;
}

.text-four-home{
  grid-row-start: 3;
  grid-row-end: 8;
  grid-column-start: 7;
  grid-column-end: 12;                                                  
}

.text-five-home{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 11;
  grid-column-end: 12;
}

.text-six-home{
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 13;
  grid-column-end: 16;
}

.wrapper div:hover .expl{
  display: inline-block;
  vertical-align: top;
}

.wrapper div:hover .word{
  display: none;
}

.wrapper div:hover{
  transform: scale(1.3);
  box-shadow: 0 1rem 1rem;
  z-index: 5;
}

.expl{
  color: white;
  display: none;
  font-size: 1vw;
  justify-content:center;
  margin-top: 25%;
}

.word{
  font-size: 2vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45% 0 45% 0;
}

.footer{
  width: 100%;
  text-align: center;
  position: absolute; 
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0; right: 0; bottom: 0;
  height: 4vh;
  margin-bottom: 0;
}

.icon{
  display: none;
  font-size: 10vw;
}

.tabtext{
  display: inline-block;
}
.quote{
  font-size: medium;
}

.carousel-container{
  position: relative;
  display: inline-block;
  width: 50vw;
  height:60vh;
  z-index: 4;
  /* border: 7vw solid #e005a4; */
} 

.carousel{
  position: relative;
  width: 50vw;
  display: inline-block;
  max-height: 60vh;
  object-fit: cover;
  z-index: -1;
  border: 10px solid #e005a4;
  animation: fadeEffect 0.5s;
}

.carouseltext{
  position: relative;
  opacity: 0.8;
  color:aliceblue;
  background-color: black;
}
  
@keyframes fadeEffect{
  from {opacity:0;}
  to {opacity: 1;}
}

.carousel-container button{
  background-color: black;
  color: white;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  border: none;
  height: 10vh;
  top: 12vw;
  cursor: pointer;
}

.carousel-container button:hover{
  opacity: 1;
  
}

#back{
  left: 10px;
}

#next{
  right: -10px;
}


@media all and (max-device-width: 700px){
  .icon {display:inline-block;}
  .tabtext {display:none;}
  .carousel-container {width: 90vw;}
  .carousel {width: 90vw;}
}

/* when the screen is above 801pixels the tab buttons show words, otherwise they show vector icons */
@media all and (max-width: 801px){
  .icon {display:inline-block;}
  .tabtext {display:none;}
  .carousel-container {width: 90vw;}
  .carousel {width: 90vw;}
  #About-Me {background-image: none;}
}

@media all and (max-width: 1500px){
  .flexbox-row {background-image: none;}
}
