html { 
  height: 100%;
  font-size: 100%;
  --background: #abe9fe;
  --main-text: black;
  --accent-text: white;
  --accent-color: #e005a4;
  --accent-color2: #fe4c34;
  --hero-url: url("./Images/hero.jpg");
  --bg-dots:url("./Images/bg-dots.jpg")   ;
  --bg-circle: url("./Images/bg-circle.jpg")  ;
  --bg-carousel: url("./Images/bg-carousel.jpg");
  --carouselbright: brightness(100%) ;
  background-color: var(--background);
  color: var(--main-text);
  text-align: center;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
} 

html.dark{
  height: 100%;
  font-size: 100%;
  --background: #010123;
  --main-text: #D5E4EC;
  --accent-text: #a1a1e5;
  --accent-color: #0F1E57;
  --accent-color2: #121240;
  --hero-url: url("./Images/hero-dark.jpg");
  --bg-dots: url("./Images/bg-dots-dark.jpg");
  --bg-circle: url("./Images/bg-circle-dark.jpg");
  --bg-carousel: url("./Images/bg-carousel-dark.jpg");
  --carouselbright: brightness(70%);
  background-color: var(--background);
  color: var(--main-text);
  text-align: center;
  box-sizing: border-box;
  overflow-y: scroll;
}

h1 {font-size: 4vmax;}

h2 {font-size: 3vmax;}

body {
  width: 100%;
  display: inline-block;
  margin: 0;  
  position: relative;
  min-height: 100%;
  font-family: "Libre Franklin", sans-serif;
}

main {justify-content: center;}

p { 
  font-size: 20px;
  max-width: 60ch;
  display: inline-block;
}

button {font-family: "Libre Franklin", sans-serif;}

svg{
  fill: #e005a4;
}

.tab{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: none;
}

/* TABS */
.tab button{
  color: var(--main-text);
  background-color: var(--background);
  font-family: "Libre Franklin", sans-serif;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  border: none;
  font-size: 1.75rem;
  padding: 0.8rem 0 0.8rem 0;
  width: 20%;
}
  
.tab button:hover {
  color: #D5E4EC;
  background-color:var(--accent-color);
}

.icon{
  display: none;
  font-size: 10vw;
}
  
.tabcontent {
   display: none;
   border: none;  
   animation: fadeEffect 1s;
}

/* HOMEPAGE */
.hero-img {
  background-image: var(--hero-url);
  height: 80vh;
  max-width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

.scroll-down{
  position: relative;
  top: -10vh;
  padding-bottom: 15vh; 
}

.scroll-down i{
  font-size: 5vh;
  animation: move-arrow 1s linear infinite;
}

#diag-box-one {
  background-image: linear-gradient(45deg,var(--accent-color), var(--accent-color));
  transform:skewY(8deg);
}

#diag-box-two {
  background-image: linear-gradient(45deg,var(--accent-color2), var(--accent-color2));
  transform:skewY(8deg);
}

#diag-box-three {
  background-image: linear-gradient(45deg,var(--accent-color),var(--accent-color));
  transform:skewY(8deg);
}
 
.dbcontent {
  transform: skewY(-8deg);
  display: inline-block;
  justify-content: center;
  padding: 0 30px 0 30px;
}

/* WHY FAC */
.wrapper{
  display: grid;
  grid-template-columns:repeat(16, 1fr);
  grid-template-rows: repeat(7, 6.25vw);
  padding: 0 2vw 0 0;
  background-image: var(--bg-dots);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-attachment: fixed;
}

.wrapper section{
  display:flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-image: var(--bg-circle);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.5s ease;
} 

.text-one-home{
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}

.text-two-home{
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 6;
}

.text-three-home{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 7;
}

.text-four-home{
  grid-row-start: 3;
  grid-row-end: 8;
  grid-column-start: 7;
  grid-column-end: 12;                                                  
}

.text-five-home{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 11;
  grid-column-end: 13;
}

.text-six-home{
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 13;
  grid-column-end: 16;
}

.expl{
  display: none;
  font-size: 0.8rem;
  justify-content:center;
  vertical-align: center;
  padding: 0.1rem;
}

.word{
  font-size: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.wrapper section:hover .expl, .wrapper section:active .expl{
  display: flex;
}

.wrapper section:hover .word, .wrapper section:active .word{
  display: none;
}

.wrapper section:hover, .wrapper section:active{
  transform: scale(1.4);
  box-shadow: 0 1.5rem 2rem rgba(0,0,0,0.15);
}

/* ABOUT ME */

#About-Me{
  background-image: var(--bg-carousel);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 35vw;
}

.carousel-container{
  position: relative;
  display: inline-block;
  width: 50vw;
  height:60vh;
} 

.carousel{
  position: relative;
  width: 50vw;
  display: inline-block;
  max-height: 60vh;
  object-fit: cover;
  border: 10px solid var(--accent-color);
  animation: fadeEffect 0.5s;
  filter: var(--carouselbright);
}

.carouseltext{
  position: relative;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0 0 5px 0;
}

.carousel-container button{
  background-color: black;
  color: var(--accent-text);
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  border: none;
  height: 10vh;
  width: 5vh;
  top: 12vw;
  cursor: pointer;
}

.carousel-container button:hover{
  opacity: 1;
  
}

#back{
  left: 10px;
}

#next{
  right: -10px;
}

/* LINKS */
.flexbox-row{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-image: var(--bg-dots);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-attachment: fixed;
}

/* GAME */
.card-container{
  margin: 0 0 2rem 0;
  display: flex;  
  flex-direction: column-reverse;
  background-image: var(--bg-carousel);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-container div{
  display: flex;
  justify-content: center;
}

.cards{
  height: 15vh;
  width: 11vh;
  border-radius: 15%;
  border:2px solid var(--main-text);
  background-image: var(--bg-circle);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--accent-text);
}

.cards-selected{
  display: flex;
  align-items: center;
  background-color: var(--accent-text);
  background-image: none;
  height: 15vh;
  width: 11vh;
  border-radius: 15%;
  border:2px solid var(--main-text);
  font-size: 5vh;
  color: black;
}

#Game button{
 border-radius: 30px;
 font-weight: 600;
 font-size: 2.5rem;
 padding: 1rem;
 color: var(--main-text);
 position: relative;
 cursor: pointer;
}

.new-game{
  display:flex;
  background-color: var(--background);
}

.hlbuttons button{
  background-color: var(--accent-color);
  display: none;
  margin: 0 0 2rem 0;
}

/* FOOTER */
.footer{
  width: 100%;
  position: absolute; 
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 4vh;
  font-size: 0.9rem;
}

#dmbutton{
  position: absolute;
  height: 30px;
  width: 60px;
  background-color: var(--main-text);
  right: 3vw;
  border-radius: 50px;
  color: var(--background);
  display:flex;
}

#dmbutton i{
  position: relative;  
  vertical-align: center;
  font-size: 22px;
  padding: 4px;
} 

#dmball{
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: var(--background);
  border-radius: 50%;
  padding: 4px;
  margin-top:1px;
  margin-left: 1px;
  transform: none;
  transition: transform 0.4s linear;
}

@media all and (max-width: 1500px){
  .flexbox-row {background-image: none;}
}

@media all and (max-width: 1200px){
  .expl {font-size: 0.65rem;}
}

@media all and (max-width: 1000px){
  .wrapper {
    display: grid; 
    grid-template-columns: 70vw;
    gap: 15vw;
    padding-left: 15vw;
    grid-template-rows: repeat(6, 70vw);
    padding-top: 12vw;
    padding-bottom: 20vw;}

  .wrapper section{
    grid-column: auto;
    grid-row: auto;
  }

  .expl {font-size: 1rem;}
}

@media all and (max-width: 800px){
  .icon {display:inline-block;}
  .tabtext {display:none;}
  .carousel-container {width: 90vw;}
  .carousel {width: 90vw;}
  #About-Me {background-image: none;}
  .scroll-down {top: -30vh;}
  .expl {font-size: 20px;}
}

@media all and (max-device-width: 800px){
  .icon {display:inline-block;}
  .tabtext {display:none;}
  .carousel-container {width: 90vw;}
  .carousel {width: 90vw;}
  .wrapper {
    display: grid; 
    grid-template-columns: 70vw;
    gap: 15vw;
    padding-left: 15vw;
    grid-template-rows: repeat(6, 70vw);
    padding-top: 12vw;
    padding-bottom: 20vw;}
  .wrapper section{
    grid-column: auto;
    grid-row: auto}
  #About-Me {background-image: none;}
  p {font-size: 40px;}
  .expl {font-size: 27px;}
  .footertext {display: none;}
  .scroll-down {top: -30vh;}
}
 
@keyframes move-arrow {
  0%{
    opacity: 0;
    transform: translateY(-2rem);
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeEffect{
  from {opacity:0;}
  to {opacity: 1;}
}
